@media (max-width:868px) {
    .discount {
width: 100px;
margin-right: 5px;
padding: 0;
border: 2px solid #fff;
    }
    .box img {
width: 50px;
    }
    .box h4{
  
        font-size: 12px;
    }
    .box span{
        font-size: 10px;
    }
}
.box h4{
    color: black;
       
     }